
.container{
    background-color: cadetblue;
}

.ctn-foto-de-perfil{
    margin-top: 75px;

}

.foto-de-perfil{
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 107px;
    border: 5px;
}


.photo-greet{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -101px 0 0 -136px;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    color: linen;

}

.photo-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    color: linen;
    font-size: 25px;
}

.ctn-logos-social{
    border: 1000px;
    margin-top: 100px;
    display: flex;
    margin-left: 600px;
    margin-right: 600px;
    justify-content: space-evenly;
    flex-direction: unset;
    align-items: center;

}

.logo-whatsapp{
    width: 60px;

}

.logo-linkedin{
    width: 60px;

}

.logo-linkedin:hover {
    transform: scale(1.12);
  }
   
.logo-whatsapp:hover {
    transform: scale(1.12);
  } 

.p-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-left: 400px;
    margin-right: 400px;
    color: linen;
}

.ctn-education{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.education{
    display: flex;
    margin: 10px;
    padding: 5px;
    border: 10px;
    border-radius: 10px;
    background-color: white;

}

.logos-education{
    width: 32px;
    height: 32px;

}